html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  height: 90%;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

.title {
  height: 10%;
  margin-top: 50px;
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
  text-align: center;
  text-transform: uppercase;
}

#user-input {
  height: 14%;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

#errors {
  height: 1%;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  color: red;
}

#buttons {
  display: flex;
  height: 10%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-end;
}

#octet-show {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

#table-subnetmask {
  width: 100%;
  border: 1px solid;
  text-align: center;
}

#table-ip-adress {
  width: 100%;
  border: 1px solid;
  text-align: center;
}

td,
th {
  border: 1px solid;
}

#tsDouble {
  color: red;
  background-color: aqua;
}

#tipDouble {
  color: red;
  background-color: aqua;
}

#answers {
  height: 35%;
  display: flex;
  align-content: space-around;
  align-items: stretch;
  justify-content: space-evenly;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  flex-direction: column;
}

#answers-1 {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
}

#answers-2 {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
}
