html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}

.title {
  height: 10%;
  margin-top: 50px;
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
  text-align: center;
  text-transform: uppercase;
}

#user-input {
  height: 14%;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

#errors {
  height: 1%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  color: red;
  align-items: center;
}

#image-error {
  width: 100%;
  height: 30px;
  width: 30px;
  visibility: hidden;
}

#error {
  margin-left: 20px;
}

#buttons {
  display: flex;
  height: 10%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-end;
}

#calculate {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#calculate:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

#calculate:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

#octet-show {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

#table-subnetmask {
  width: 100%;
  border: 1px solid;
  text-align: center;
}

#table-ip-adress {
  width: 100%;
  border: 1px solid;
  text-align: center;
}

td,
th {
  border: 1px solid;
}

#tsDouble {
  color: red;
  background-color: aqua;
}

#tipDouble {
  color: red;
  background-color: aqua;
}

#answers {
  width: 100%;
  height: 30%;
  display: flex;
  align-content: space-around;
  align-items: stretch;
  justify-content: space-evenly;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  flex-direction: column;
}

#answers-1 {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
}

#answers-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
}

#informations {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 5%;
  align-items: center;
  justify-content: flex-end;
}

#text {
  visibility: hidden;
  height: 100%;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

#shortcuts {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  color: royalblue;
}

#image-question {
  width: 100%;
  height: 40px;
  width: 40px;
  margin-right: 50px;
}
